a:hover{color:#fff;background-color:#37a;}
a:link{color:#37a;}
a:active{color:white;}
a{text-decoration:none}
#menu{margin-bottom:35px;background-color:#B2DFEE;height:35px;margin-top:10px;font-size:20px;line-height:35px;}
ul li{list-style:none;float:left;width:190px;font-weight:400;text-align:center;}
.h1{margin-left:1500px;}
<span style="cursor:auto">body</span>